Theoretical_Physics/
Ising_MCMC/
Jupyter/
M1TrainingCourse/
Practice/*


.DS_Store


# Python
.python-version
__pycache__
.ipynb_*
.jupyterlog


# vim
*.swp


# TeX
TeX/*
!TeX/*.tex
TeX/Week_Report.*

