Theoretical_Physics/
Ising_MCMC/
Jupyter/
M1TrainingCourse/
Practice/*


.DS_Store
tags


# Python
.python-version
__pycache__
.ipynb_*
.jupyterlog
Python/pandas/*.pdf


# vim
*.swp


# TeX
TeX/*
!TeX/*.tex
!TeX/*.pdf
TeX/Week_Report.*

